<p>Date/Time:</p>
<%= @appointment.appointment_datetime %>
<p>Patient:</p>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
<p>Doctor:</p>
<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
